@media (max-width: 1280px){
    .cabecalho .titulo{
        font-size: 40px;
    }

    .selecao-de-personagens .lista-de-personagens{
        max-width: 330px;
    }

    .selecao-de-personagens .lista-de-personagens .personagem{
        width: 100px;
        height: 100px;
    }


}

@media (max-width: 767px){
    body::before{
        opacity: .8;
        background-position: center;
    }
    main{
        padding: 0 5px;
        justify-content: start;

    }

    .cabecalho .titulo{
        font-size: 22px;
    }

    .selecao-de-personagens .personagem-grande {
        display: none;
    }
}

@media (max-width: 360px){
    .cabecalho .titulo{
        font-size: 19px;
        color: black;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }
}
